/* General Styles */

html {
    font: normal 62.5% sans-serif;
    color: #803737;
}

body {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    opacity: .75;
    color: #690c0c;
}

a:hover {
    opacity: 1;
}

a.btn {
    border-radius: .4rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 8rem;
}

section:not(.hero):nth-child(even) {
    background-color: #f5f5f5;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    list-style-type: none;
}

hr {
    width: 25rem;
    height: .3rem;
    background-color: #3f51b5;
    border: 0;
    margin: 3rem 3rem;
}

section h3.title {
    text-transform: capitalize;
    font: bold 3.2rem "Montserrat", sans-serif;
    margin-bottom: 3rem;
    text-align: center;
}

section p {
    max-width: 77.5rem;
    line-height: 2;
    padding: 0 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

/* Header Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 10rem 0;
    animation: fadein 1s .5s forwards;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

header h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 2.5rem;
}

header nav {
    display: flex;
}

header nav a {
    margin: 0 1.5rem;
    font-size: 2rem;
}

/* Section Styles */

.background-image {
    opacity: .8;
    filter: contrast(80%)
}

/* Hero Styles */

.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #465164;
    opacity: .5;
}

.hero h1 {
    font: bold 6rem "Montserrat";
    margin-bottom: 1.5rem;
}

.hero h3 {
    font: bold 2.8rem "Montserrat", sans-serif;
    margin-bottom: 4rem;
}

.hero a.btn {
    padding: 2rem 4.6rem;
    font-size: 1.2rem;
    background-color: lightcyan;
}

.hero-content-area {
    opacity: 0;
    margin-top: 20rem;
    animation: slidefade 1s 1s forwards;
}

/* Destinations Section */

.destinations .grid li {
    height: 35rem;
    padding: 2rem;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.destinations .grid li.small {
    flex-basis: 30%;
}

.destinations .grid li.large {
    flex-basis: 70%;
}

/* Packages Section */

.packages .grid li {
    padding: 5rem;
    flex-basis: 50%;
    text-align: center;
}

.packages .grid li h4 {
    font-size: 3rem;
    margin: 2.5rem 0;
}


/* Testimonials Section */

.testimonials .quote {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 2rem 0 2.5rem;
}


/* Contact Section */

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.contact form .btn {
    padding: 1.7rem 4.2rem;
}

/* Footer Section */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #607d8b;
    color: #fff;
    padding: 2rem 0;
}

footer a {
    color: #fff;
}

footer p {
    text-transform: uppercase;
    font-size: 1.4rem;
    opacity: 0.6;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 1.6rem;
}

/* Animations */

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 1100px) {

    .hero .background-image {
        background-position: center;
    }

    .destinations .grid li.small,
    .destinations .grid li.large {
        flex-basis: 100%;
    }

    footer {
        flex-direction: column;
    }

    footer p {
        text-align: center;
        margin-bottom: 2rem;
    }

    footer ul li {
        margin: 0 .8rem;
    }
}

@media (max-width: 800px) {
    header {
        padding: 2rem 5rem;
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 1.5rem;
    }
    
    section {
        padding: 5rem 2rem;
    }

    .hero {
        min-height: 60rem;
    }

    .hero .background-image {
        background-position: right;
    }

    .hero h1 {
        font-size: 4.8rem;
    }

    .hero h3 {
        font-size: 2.4rem;
    }

    .hero a.btn {
        padding: 1.5rem 4rem;
    }

    .destinations .grid li.small,
    .destinations .grid li.large {
        flex-basis: 50%;
        height: 25rem;
    }

    .packages .grid li {
        flex-basis: 100%;
        padding: 2rem;
    }

    .testimonials .quote {
        font-size: 1rem;
        margin: 1.5rem 0;
    }

    .testimonials .author {
        font-size: 1rem;
    }
}

